<!-- Card -->
<div class="relative w-80 h-full flex flex-col text-white bg-slate-600 hover:opacity-90 transition-all">
    <!-- Card toolbar  -->
    <div class="px-2 h-5 flex items-center justify-between bg-slate-500 text-right select-none">
        <p class="text-slate-400 font-mono">{{route}}</p>
        <div class="cursor-pointer transition-all hover:opacity-50" *ngIf="isClosable" (click)="onClose()">
            &#x2715;
        </div>
    </div>
    <!-- Card content -->
    <div class="p-2 flex flex-grow items-end cursor-pointer select-none" (click)="onClick()">
        <div>
            <p class="text-slate-400 font-mono">Workspace:</p>
            <h2 class="w-full text-xl font-semibold truncate">{{ title }}</h2>
        </div>
    </div>
    <!-- Active bar -->
    <div class="w-full h-1 absolute bottom-0 bg-slate-300" *ngIf="isActive"></div>
</div>